<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">

    	<title>AGROW - Dashboard</title>

	    <!-- Custom fonts for this template-->
	    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

	    <!-- Custom styles for this template-->
	    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

	    <link th:href="@{/css/styles.css}" rel="stylesheet">
	</head>

	<body id="page-top">
	    <!-- Page Wrapper -->
	    <div id="wrapper">
	        <div style="margin: 0px; padding: 0px; border: 0px;" th:insert="fragments/side-bar::sideBar"></div>

	        <!-- Content Wrapper -->
	        <div id="content-wrapper" class="d-flex flex-column">
	            <!-- Main Content -->
	            <div id="content">
	                <!-- Topbar -->
	                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	                    <!-- Sidebar Toggle (Topbar) -->
	                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
	                        <i class="fa fa-bars"></i>
	                    </button>

	                    <!-- Topbar Navbar -->
	                    <ul class="navbar-nav ml-auto">
	                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
	                        <li class="nav-item dropdown no-arrow d-sm-none">
	                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
	                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                                <i class="fas fa-search fa-fw"></i>
	                            </a>
	                            <!-- Dropdown - Messages -->
	                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
	                                aria-labelledby="searchDropdown">
	                                <form class="form-inline mr-auto w-100 navbar-search">
	                                    <div class="input-group">
	                                        <input type="text" class="form-control bg-light border-0 small"
	                                            placeholder="Buscar" aria-label="Search"
	                                            aria-describedby="basic-addon2">
	                                        <div class="input-group-append">
	                                            <button class="btn btn-primary" type="button">
	                                                <i class="fas fa-search fa-sm"></i>
	                                            </button>
	                                        </div>
	                                    </div>
	                                </form>
	                            </div>
	                        </li>

	                        <div class="topbar-divider d-none d-sm-block"></div>

	                        <!-- Nav Item - User Information -->
	                        <div th:insert="fragments/user-information::navDropdown">
	                    </ul>
	                </nav>
	                <!-- End of Topbar -->

	                <!-- Begin Page Content -->
	                <div class="container-fluid">
						<h6 class="success" th:if="${msgSucesso != null}" th:text="${msgSucesso}"></h6>
						<h6 class="required" th:if="${msgErro != null}" th:text="${msgErro}"></h6>
	                    <!-- Page Heading -->
	                    <div class="row">
	                    	<div class="col-4">
		                    	<h1 class="h3 mb-2 text-gray-800">Dashboard <a href="#" data-toggle="modal" data-target="#shareModal" title="Compartilhar"><i class="fas fa-share-alt"></i></a></h1>
		                    </div>
		                    <div class="col-4">
		                    	<span>M&ecirc;s/Ano:</span>
		                    	<input id="mesAno" type="text" maxlength="7" th:value="${mesAno}" />
		                    	<button type="button" class="btn btn-primary" onclick="buscarDadosDashboard(this)">Buscar</button>
		                    	<span th:if="${msgMesAno != null}" th:text="${msgMesAno}" style="color: red; display: block"></span>
		                    </div>
		                    <div class="col-4" style="text-align: right">
		                    	<button type="button" class="btn btn-primary" onclick="gerarPDF()">Gerar PDF</button>
		                    </div>
	                    </div>
	                    <!-- Content Row -->
	                    <div class="row">
	                        <div class="col-xl-8 col-lg-7">
	                            <!-- Area Chart -->
	                            <div class="card shadow mb-4">
	                                <div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">Curva de Lacta&ccedil;&atilde;o - Produ&ccedil;&atilde;o de Leite X Dias Em Lacta&ccedil;&atilde;o</h6>
	                                </div>
	                                <div class="card-body">
	                                    <div class="chart-area">
	                                        <canvas id="myAreaChart"></canvas>
	                                    </div>
	                                </div>
	                            </div>

	                            <!-- Bar Chart -->
	                            <div class="card shadow mb-4">
	                                <div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">Conserva&ccedil;&atilde;o do Solo</h6>
	                                </div>
	                                <div class="card-body">
	                                    <div class="chart-bar">
	                                        <canvas id="myBarChart"></canvas>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                        <!-- Donut Chart -->
	                        <div class="col-xl-4 col-lg-5">
	                            <div class="card shadow mb-4">
	                                <!-- Card Header - Dropdown -->
	                                <div class="card-header py-3">
	                                    <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
	                                </div>
	                                <!-- Card Body -->
	                                <div class="card-body">
	                                    <div class="chart-pie pt-4">
	                                        <canvas id="myPieChart"></canvas>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /.container-fluid -->
	            </div>
	            <!-- End of Main Content -->
	
	            <!-- Footer -->
	            <footer class="sticky-footer bg-white">
	                <div class="container my-auto">
	                    <div class="copyright text-center my-auto">
	                        <span>Copyright &copy; AGROW 2022</span>
	                    </div>
	                </div>
	            </footer>
	            <!-- End of Footer -->
	        </div>
	        <!-- End of Content Wrapper -->
	    </div>
	    <!-- End of Page Wrapper -->
	
	    <!-- Scroll to Top Button-->
	    <a class="scroll-to-top rounded" href="#page-top">
	        <i class="fas fa-angle-up"></i>
	    </a>

	    <div th:insert="fragments/modal::logoutModal"></div>
	    <div th:insert="fragments/modal::shareModal"></div>

	    <!-- Bootstrap core JavaScript-->
	    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	    <!-- Core plugin JavaScript-->
	    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	
	    <!-- Custom scripts for all pages-->
	    <script th:src="@{/js/sb-admin-2.min.js}"></script>
	
	    <!-- Page level plugins -->
	    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

		<script th:inline="javascript">
			//<![CDATA  
			function getChartAreaData() {
				return [[${chartAreaData}]];
			}
			function getChartAreaLabel() {
				return [[${chartAreaLabel}]];
			}

			function getChartBarData() {
				return [[${chartBarData}]];
			}
			function getChartBarLabel() {
				return [[${chartBarLabel}]];
			}

			function getChartPieData() {
				return [[${chartPieData}]];
			}
			function getChartPieLabel() {
				return [[${chartPieLabel}]];
			}
			//]]
		</script>

	    <!-- Page level custom scripts -->
	    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
	    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
	    <script th:src="@{/js/demo/chart-bar-demo.js}"></script>
	    <script th:src="@{/js/jsPDF-1.5.3.js}"></script>
	    <script th:src="@{/js/dashboard.js}"></script>
	</body>
</html>
